#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 9999;
    cursor: pointer; /* Add a pointer on hover */
}

#mainCategoryIcon {
    max-width: 200px;
    max-height: 200px;
}

#subCategoryIcon {
    max-width: 100px;
    max-height: 100px;
}

#overlayBox {
    text-align: center;
    padding: 20px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Lato', Helvetica, sans-serif;
}

.fs-button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#reason-input {
    width: 100%;
    text-align: center;
}

.empty-input-warning::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}

#accept-button {
    background-color: #43A047;
    color: #FFFFFF;
}

#decline-button {
    background-color: #E64A19;
    color: #FFFFFF;
}

#accept-button-inactive {
    background-color: #DDDDDD;
}

.accept-button-class {
    background-color: #4aff7a;
}

#decline-button-inactive {
    background-color: #DDDDDD;
}

.fs-button {
    margin: 20px;
    position: center;
}
