#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 9999;
    cursor: pointer; /* Add a pointer on hover */
}

#overlay * {
    font-family: 'Lato', Helvetica, sans-serif !important;
}

#overlay h4 {
    color: black !important;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 1.1 !important;
}

#icon-main-container {
    float: left;
    margin-bottom:10px;
}

#popup-function-heading{
    margin-top:0px !important;
    padding-bottom: 10px;
}

#icon-image-container {
    float: left;
    border: 3px solid black;
    min-height: 120px;
}

#icon-text-container {
    float: right;
    min-height: 120px;
    text-align: left !important
}

#mainCategoryIcon {
    display: inline;
    width: 50%;
    height: 100%;
    min-width: 70px;
    padding: 3px;
}

#subCategoryIcon {
    position: absolute;
    bottom: 3px;
    right: 17px;
    display: inline;
    width: 35%;
    min-width: 50px;
}

#sub-icon-container {
    width: 100%;
    height: 100%
}

#overlayBox {
    text-align: center;
    padding: 10px;
    background-color: white;
    position: fixed;
    width: 60%;
    height: 40%;
    min-height: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Lato', Helvetica, sans-serif !important;
}

.fs-button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}

#icon-question-text {
    padding-top: 30px;
}

#reason-input {
    width: 100%;
    text-align: center;
    color: black !important;
}

.empty-input-warning::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}

#accept-button {
    background-color: #43A047;
    color: #FFFFFF;
}

#decline-button {
    background-color: #E64A19;
    color: #FFFFFF;
}

#accept-button-inactive {
    background-color: #DDDDDD;
}

.accept-button-class {
    background-color: #4aff7a;
}

#decline-button-inactive {
    background-color: #DDDDDD;
}

.fs-button {
    margin: 10px 20px;
    position: center;
}
